<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Trade</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>

<body style="background-image: url(/images/image.png);">
    <div class="container bg-light rounded my-2">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid">
                <a class="navbar-brand"  href="home.html">
                    <img src="/images/logo.png" style="width: 60px;" alt="">
                     Ticket Trade</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">

                    <ul class="navbar-nav mb-lg-0 ">
                        <li class="nav-item ">
                            <a class="nav-link" href="register.html">REGISTER</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login.html">LOG IN</a>
                        </li>
                    </ul>

                    <a class=" btn btn-warning " href="sell-ticket.html">SELL</a>
                    <!-- <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
                </div>
            </div>
        </nav>
    </div>



      <!-- {# SELL TICKET FORM #} -->
      <!-- <div class="container bg-light py-5">

          <h1 class="text-center pt-5 font-weight-bold">Sell Your Tickets</h1>
          <div class="p-5">
            <form action="/dashboard" method="post">
            <label class="font-weight-bold" for="title">Title</label><br>
            <input class=" p-2 w-100" type="text" placeholder="Enter project title" name="title"><br><br>
            <label class="font-weight-bold" for="category">Category</label>
            <div class="container p-0">
                <label class="btn pl-0">
                  <input type="checkbox" name="" id="concert" value="checked"> Concert
                </label>
                <label class="btn">
                  <input type="checkbox" name="" id="exhibition" value="checked"> Exhibition
                </label>
                <label class="btn">
                  <input type="checkbox" name="" id="theatre" value="checked"> Theatre
                </label>
                <label class="btn">
                  <input type="checkbox" name="" id="sports" value="checked"> Sports
                </label>
            </div>
            <label class="font-weight-bold" for="post">Description</label><br>
            <textarea class="rounded p-2 w-100" type="text" placeholder="Write something..." name="description" id="post" rows="5"></textarea><br><br>
            <label class="font-weight-bold" for="portfolio">Product Tags</label><br>
            <input class=" p-2 w-100" type="text" placeholder="Link your portfolio here" name="portfolio"><br><br> 
            <label class="font-weight-bold" for="img">Image ID</label><br>
            <input class=" p-2 w-100" type="description" placeholder="ID from Google Drive URL" name="img"><br><br><br>
            <button class="w-100 bg-info text-white rounded py-2 px-4 border-0" type="submit">Create Listing</button>

            </form>
            <hr class="mt-5">
          </div>
        </div>

      </div> -->

 <div class="col-sm-6 mx-auto mt-5 ">
        <div class=" m-auto  rounded bg-light">
          
          <div class="p-3">

            <form action="/dashboard" method="post">
              <h2 class="text-center">Sell Your Tickets</h2>
            <label class="" for="title">Title</label>
            <input class="form-control" type="text" placeholder="Enter project title" name="title">
            <label class="mt-2" for="category">Category</label>

            <div class="">
                <label class="btn">
                  <input type="checkbox" name="" id="concert" value="checked"> Concert
                </label>
                <label class="btn">
                  <input type="checkbox" name="" id="exhibition" value="checked"> Exhibition
                </label>
                <label class="btn">
                  <input type="checkbox" name="" id="theatre" value="checked"> Theatre
                </label>
                <label class="btn">
                  <input type="checkbox" name="" id="sports" value="checked"> Sports
                </label>
            </div>

            <label class="" for="post">Description</label>
            <textarea class=" form-control" type="text" placeholder="Write something..." name="description" id="post" rows="5"></textarea>
            <label class="mt-2" for="portfolio">Product Tags</label>
            <input class=" form-control" type="text" placeholder="Link your portfolio here" name="portfolio">
            <label class="mt-2" for="img">Image ID</label>
            <input class=" form-control" type="description" placeholder="ID from Google Drive URL" name="img">

            

            </form>
            <button class="col-12 btn btn-info text-light mt-3" type="submit">Create Listing</button>
          </div>
        </div>
      </div>


      


  
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
  </script>
</body>

</html>